
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 20px 0; 
  margin: 0;
  
  font-size: 20px;
}
.navbar li {
  font-size: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  padding: 0 15px; 
  
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar li {
    padding: 10px 0;
  }
}